.container
  .row
    .column.column-50.column-offset-25{:style => "padding-top: 4em; text-align: center;"}
      %h2 New Drop
      = form_tag "/upload" , method: "post", remote: true do
        = text_field_tag :name, nil, placeholder: "Drop Name"
        = text_field_tag :version, nil, placeholder: "Version"
        = text_area_tag :content, nil, placeholder: "Code", style: "max-width: 100%; min-width: 100%; max-height: 25em; min-height: 25em"
        = submit_tag "Upload"
