.container
  .row
    .column.column-50.column-offset-25{style: "text-align: center; padding-top: 4em"}
      %h1
        Search Results
      = form_tag "/drops", method: "post" do
        %span{style: "display: inline"}
          %span{style: "display: inline"}
            = text_field_tag :query, nil, style: "width: 70%;"
          %span{style: "display: inline; padding-left: 10px"}
            = submit_tag "Search"
      .results
        %table
          %thead
            %th
              Name
            %th
              Version
            %th
              Author
          %tbody
            - @drops.each do |drop|
              %tr
                %td
                  %a{href: "/drop/#{drop['name']}", style: "display: block"}
                    = drop["name"]
                %td
                  %a{href: "/drop/#{drop['name']}", style: "display: block"}
                    = drop["version"]
                %td
                  %a{href: "/drop/#{drop['name']}", style: "display: block"}
                    = drop["author"]
